@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


* {
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 0; /* pour effacer l'espace laissé vide (et blanc) suite à la translation de main*/
    }  

main{
    border-radius: 60px 60px 0 0;
    transform: translate(0, -50px);
    z-index: 1;
    position: relative;
    background-color: rgb(246,246,246);
    padding: 0 20px 30px 20px;
    }

#main_note_enchantee, #footer_note_enchantee {
    transform: translate(0, -140px);
}

    .flex_header {
        display: flex;
        justify-content: space-between;
        padding: 10px 100px 10px 20px;
        align-items: center;
    }  
.logo_header{
    width: 60%;
    }  
img {
    width: 100%;
    }  


.presentation_restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

h2, h3, h4{ font-family: 'Roboto', sans-serif;}

h1{ font-family: 'Shrikhand', cursive;
    font-style: oblique }


h2 {
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 30px;
    border-bottom: solid #99E2D0    ;
    width: 20%;
    }
h4 {
    font-weight: normal;
    margin: 0;
}

.flex{
    display: flex;
    justify-content: space-between;}


.plat_generique{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    }

.commander{

    display: flex;
    justify-content: center;
    padding:30px}
#submit-button, #explorer_button{
    width: 60%;
    margin-top: 30px;
    aspect-ratio: 3/1;
    border-radius: 40px;
    height: 40px;
    color: white;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
   }

footer{
    background-color: rgb(53, 53, 53);
    padding-bottom:30px;
    transform: translate(0, -50px);
   }
.logo_footer{
    width: 30%;
    padding:10px
   }

li  { 
    padding-bottom: 3px;
}
ul  { 
list-style-type: none;
margin:0; 
padding-left: 10px;}

 a  {text-decoration: none;
    color:white;
    padding:18px 0
    }

#accueil_header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accueil_logo

{
    padding: 15px;
    width: 40%;
}

#champ_de_recherche
{
border: none;
background-color: rgb(234,234,234);
text-align: center;
}
form {
    background-color: rgb(234,234,234);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding:10px
}

#explorer {
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
text-align: center;
font-style: normal;
background-color: rgb(246,246,246);
width: 100%;}


#h2_accueil {
    font-style: normal;
    border: none;
    width: 100%;
    padding: 0 30px;
    font-weight: 700;
    text-transform: capitalize;}

.flex_fonctionnement{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background:   rgb(246,246,246); ;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative; /*pour positionner les rond*/
    padding-left: 10px;

}
.h2_accueil{
   border: hidden;
   width: 80%;
   text-transform: capitalize;
   font-weight: bolder;

}

#fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;}

.rond{
    font-family: roboto;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    background-color: rgb(147,86,220);
    color: white;
    font-weight: lighter;
    left: -10px;
    position: absolute;}

.fiches_accueil{
    border-radius: 20px;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:10px;
    background-color: white;
}

.img_accueil{
    border-radius: 20px 20px  0 0;
    height: 120px;
    object-fit: cover;}

.h3_fiche{
        width: 86%;
        padding-left: 10px;
        margin:0}

#restaurants_accueil{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(246,246,246);
padding-bottom: 50px;}

#footer_accueil{
    transform: translate(0 , 0)}

.coeur_accueil{
    align-items: center;
    display: flex;
    padding-right: 2%;
    width: 10%;
    justify-content: flex-end;  }

.fiches_accueil h4{
    width: 100%;
    padding-left: 10px;  }

.a_accueil{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    padding: 0; }

.a_retour{
    color:black;
    padding:0
}

button:hover{
    opacity: 0.5;
    box-shadow: 15px 8px 8px #9356DC;
}

.coeur:hover{
    color:#9356DC;
    transition-duration: 800ms;
}

.entrees{
    animation-duration: 3s;
    animation-name: apparition_entrees;
}
@keyframes apparition_entrees {
    0% { opacity: 0;}
   100% { opacity: 1;}
}
.plats{
    animation-duration: 4s;
    animation-name: apparition_plats;
}
@keyframes apparition_plats {
    0% { opacity: 0;}
    25%{ opacity: 0;} /*attend 1 sec*/
   100% { opacity: 1;}
}
.desserts{
    animation-duration: 5s;
    animation-name: apparition_desserts;
}
@keyframes apparition_desserts {
    0% { opacity: 0;}
    40%{ opacity: 0;}
   100% { opacity: 1;}
}
#loading_spinner {
    position: sticky;
    top: 80vh;
    width: 100%;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: 1;} 

    #loading_spinner_int{
        position: sticky;
        top: 80vh;
        width: 100%;
        background: linear-gradient(to left top, #FF79DA, #9356DC);
        border-radius: 50%;
        aspect-ratio: 1/1;
        z-index: 2;
        transform: scale(0.7);
        box-shadow: inset -1px 1px 11px 30px #9356dc;}

        #accueil_header, #fonctionnement, #restaurant_accueil, #footer_accueil, #restaurants_accueil {
            animation: opacity_transition 3s;
        }
        
        @keyframes opacity_transition {
            0% { opacity: 0.3;}
            85%{ opacity: 0.3;}
           100% { opacity: 1;}
        }

        #loading_spinner{
            animation-duration: 3s;
            animation-name: spinner_animation;
            visibility: hidden;

        }

        @keyframes spinner_animation {
            50% {transform: rotateY(90deg);visibility: visible;}
            100% {transform:  rotatex(90deg);visibility: visible}   

            }
           #html_index {
                transform: translateY(-95vw);} 
               /*  pour eliminer le blanc tout en haut suite à spinner /

.nouveau {
    background-color: #99E2D0;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;}
.nouveau::after {
    content: "Nouveau";
    color:rgb(0,135,102);
    font-weight: bold;
    font-family: roboto;
}

.fiches_accueil{
    position: relative; /* pour positionner nouveau en absolu */

}

#hover_effect {
    width: 1px; 
    background-color: blue;
    opacity: 1;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}
#flex_hover {
    display:flex;
    justify-content:space-between
    
}
.plat_generique:hover + #hover_effect {
    transform: translateX(-30px) scalex(100)  ;opacity:1;
    /*transform-origin:  right;*/
    background-color: red;
    border-radius: 20px;
    
  



}